.card-item img {
    width: 100%;
}

.card-item {
    display: flex;
    flex-direction: column;
}

.card-item p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-item span {
    margin-bottom: 10px;
    font-size: 16px;
}

