.card-item img {
    width: 100%;
}

.card-item {
    display: flex;
    flex-direction: column;
}

.card-item p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-item span {
    margin-bottom: 10px;
    font-size: 16px;
}

.count-item {
    display: flex;
    width: 100%;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.modal-img {
    width: 70%;
}
